{{extend 'layout.html'}}
    <link href="{{=URL('static','css/myapp.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/calendar.css')}}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"/>
    <link href="{{=URL('static','css/form.css')}}" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
<head>
    <meta charset='utf-8' />
    <link href="{{=URL('static','fullcalendar/fullcalendar.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','fullcalendar/fullcalendar.print.min.css')}}" rel="stylesheet" type="text/css"/>
    <script src='/final2/static/fullcalendar/lib/moment.min.js'></script>
    <script src='/final2/static/fullcalendar/lib/jquery.min.js'></script>
    <script src='/final2/static/fullcalendar/fullcalendar.min.js'></script>
    <script src='/final2/static/fullcalendar/gcal.min.js'></script>
    <script>

      $(document).ready(function() {

        $('#calendar').fullCalendar({

          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,listYear'
          },

          displayEventTime: false, // don't show the time column in list view

          // Google Calendar API key
          googleCalendarApiKey: 'AIzaSyBcJRtz5sngTqRQij2xWuMssI8PPPquF8c',

          // US Holidays
          events: 'en.usa#holiday@group.v.calendar.google.com',

          eventClick: function(event) {
            // opens events in a popup window
            window.open(event.url, 'gcalevent', 'width=700,height=600');
            return false;
          },

          loading: function(bool) {
            $('#loading').toggle(bool);
          }

        });

      });

    </script>
    <style>

      body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
      }

      #loading {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
      }

      #calendar {
        max-width: 900px;
        margin: 0 auto;
      }

    </style>
</head>



<div class="main_content center">

    <h1 class="ui center aligned icon header">
        <br/>
        <i class="circular calendar icon"></i>
        Calendar of Meals
    </h1>

    {{if auth.user is not None:}}
    <div id='loading'>loading...</div>

    <div id='calendar'></div>

    {{else:}}
    <h2 class="center">Log in to see your calendar of upcoming meals!</h2>
    {{pass}}


</div>






<script src="{{=URL('static','js/default_index.js')}}"></script>
