{{extend 'layout.html'}}

<head>
    <link href="{{=URL('static','css/myapp.css')}}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"/>
    <link href="{{=URL('static','css/form.css')}}" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

    <script>
        var memo_url = "{{=URL('api', 'get_memos')}}";
        var add_memo_url = "{{=URL('api', 'add_memo', user_signature=True)}}";
        var del_memo_url = "{{=URL('api', 'del_memo', user_signature=True)}}";
        // hash_vars=False disable signing after question mark
        var edit_memo_url = "{{=URL('api', 'edit_memo', user_signature=True)}}";
        var toggle_visibility_url = "{{=URL('api', 'toggle_visibility', user_signature=True)}}";
    </script>

</head>


<div class="main_content">

    <!-- we don't want this to show until default_index.js has been loaded -->
    <div id="vue-div2" class="display:none">

    {{if auth.user is not None:}}
        <br/>

        <div class="button_bar">
            <button v-if="!is_adding_memo" class="ui teal center button" v-on:click="add_memo_button()" :disabled="!logged_in"
                    v-bind:class="{'disabled': !logged_in}">
                <!-- 'disabled' html attribute will be T/F based on !logged_in -->
                <!-- 'disabled' class will appear based on T/F of !logged_in -->
                <i class="fa fa-plus"></i> Add Meal Event
            </button>
            <button v-if="is_adding_memo" class="small ui button" v-on:click="add_memo_button()">
                <i class="fa fa-times"></i> Cancel
            </button>

        </div>

        <br/>

        <!-------------------------------- ADD FORM -------------------------------->
        <div v-if="is_adding_memo" id="add_memo_div">
            <h5>Fill in the info for your event!</h5>
            <form action="#" v-on:submit.prevent="add_memo" class="form-horizontal ui form" enctype="multipart/form-data"
                  method="post">
                <div class="form-group  " id="no_table_title__row">
                    <div>
                        <input class="form-control string" id="no_table_title" v-model="form_title"
                               placeholder="title" type="text"/>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group" id="no_table_memo__row">
                    <div>
                        <input class="form-control string" id="no_table_emo" v-model="form_memo"
                               placeholder="memo" type="text"/>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group" id="no_table_datetime__row">
                    <div>
                        <input class="form-control string" id="no_table_emo" v-model="form_datetime"
                               placeholder="Date and Time" type="date"/>
                        <span class="help-block"></span>
                    </div>
                </div>
                 <div class="form-group" id="no_table_time_of_event__row">
                            <div>
                                <input class="form-control string" id="no_table_emo" v-model="form_time_of_event"
                                       placeholder="Time of Event" type="time"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                <div class="form-group" id="no_table_area__row">
                    <div>
                        <input class="form-control string" id="no_table_emo" v-model="form_area"
                               placeholder="Location" type="text"/>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group" id="no_table_allergens__row">
                    <div>
                        <input class="form-control string" id="no_table_emo" v-model="form_allergens"
                               placeholder="Allergens (vegan, gluten-free, etc.)" type="text"/>
                        <span class="help-block"></span>
                    </div>
                </div>

                <br/>

                <div class="form-group" id="submit_record__row">
                    <div>
                        <input class="small ui button " id="add_memo_submit" type="submit"
                               value="Let's Eat!"/>
                    </div>
                </div>
            </form>
        </div>

        <div v-for="m in memolist" class="ui raised segment memo">
             <div v-if="(m.user_email === '{{=auth.user.email}}')">
                <div class="ui blue ribbon label">
                    <i class="spoon icon"></i> Your Event
                </div>
            </div>
              <div v-if="!(m.user_email === '{{=auth.user.email}}')">
                <div class="ui red ribbon label">
                    <i class="food icon"></i> Open Event
                </div>
            </div>
            <br/>
            <!---WHEN USER CLICKS JOIN, ADD TO CALENDAR? AND TO USER'S CALENDAR PAGE ----->
            <button v-if="!(m.user_email === '{{=auth.user.email}}')" class ="right ui labeled icon button">
                <i class="calendar icon"></i>
                    Add To Calendar
            </button>

            <div v-if="!m.is_being_edited" class="memo_text">
                <div class="memo_name">${m.first_name}'s Event:</div>
                <div class="memo_title">${m.title}</div>
                <div class="memo_content">${m.memo}</div>
                <div class="memo_datetime">When: ${m.datetime}</div>
                <div class="memo_time_of_event">Time: ${m.time_of_event}</div>
                <div class="memo_area">Where: ${m.area}</div>
                <div class="memo_allergens">Allergen Info: ${m.allergens}</div>

            </div>


            <div>

                <!-------------------------------- EDIT FORM -------------------------------->
                <div v-if="m.is_being_edited" v-on:submit.prevent="edit_memo(m._idx)" id="edit_memo_div">
                    <form action="#" class="form-horizontal ui form"
                          enctype="multipart/form-data"
                          method="post">
                        <div class="form-group" id="no_table_title__row">
                            <div>
                                <input class="form-control string" id="no_table_title" v-model="form_edit_title"
                                       placeholder="title" type="text"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group" id="no_table_memo__row">
                            <div>
                                <input class="form-control string" id="no_table_emo" v-model="form_edit_memo"
                                       placeholder="memo" type="text"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group" id="no_table_datetime__row">
                            <div>
                                <input class="form-control string" id="no_table_emo" v-model="form_edit_datetime"
                                       placeholder="Date and Time" type="date"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                         <div class="form-group" id="no_table_time_of_event__row">
                            <div>
                                <input class="form-control string" id="no_table_emo" v-model="form_edit_time_of_event"
                                       placeholder="Time of Event" type="time"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group" id="no_table_area__row">
                            <div>
                                <input class="form-control string" id="no_table_emo" v-model="form_edit_area"
                                       placeholder="Location" type="text"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group" id="no_table_allergens__row">
                            <div>
                                <input class="form-control string" id="no_table_emo" v-model="form_edit_allergens"
                                       placeholder="Allergens (vegan, gluten-free, etc.)" type="text"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group" id="edit_save_cancel">
                            <div>
                                <input class=" btn rounded btn-primary" id="edit_memo_save" type="submit" value="Save"/>
                                <input class=" btn rounded btn-primary" id="edit_memo_cancel" type="reset" value="Cancel"
                                       v-on:click="m.is_being_edited = false"/>
                            </div>
                        </div>
                    </form>
                </div>


                <div v-if="!m.is_being_edited" class="button_list">
                    <div class="buttons">
                   <!--     <a v-if="(m.is_public) && (m.user_email === '{{=auth.user.email}}')" class="btn rounded"
                           v-on:click="toggle_visibility(m._idx)">
                            <i class="fa fa-users"></i>
                        </a>
                        <a v-if="(!m.is_public) && (m.user_email === '{{=auth.user.email}}')" class="btn rounded"
                           v-on:click="toggle_visibility(m._idx)">
                            <i class="fa fa-user"></i>
                        </a>
                        <i v-if="(m.is_public) && (m.user_email !== '{{=auth.user.email}}')"
                           class="fa fa-users"></i> -->
                        <a v-if="m.user_email === '{{=auth.user.email}}'" class="btn rounded"
                           v-on:click="init_edit_memo(m._idx)">
                            <i class="fa fa-edit fa-lg"></i>
                        </a>
                        <a v-if="m.user_email === '{{=auth.user.email}}'" class="btn rounded"
                           v-on:click="delete_memo(m._idx)">
                            <i class="fa fa-trash fa-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="has_more" class="show_more">
            <button class="btn btn-default rounded" v-on:click="get_more()">
                <i class="fa fa-ellipsis-h"></i> Load More
            </button>
        </div>
    {{else:}}
        <h1 class="main_title center">Welcome to GrubMeet!</h1>
        <p class="explanation center">New to the city? Sign up for GrubMeet and have a meal
            with strangers who might turn into friends!</p>
        <div class="login_button center">
            <a href="{{=URL('default', 'user')}}" class="medium blue ui button">Get Grubbin'</a>
        </div>
        <h2 class="center">Open Meal Events</h2>
        <div v-for="m in memolist" class="ui raised segment memo">
            <div class="memo_text">
                <div class="ui orange ribbon label">
                    <i class="food icon"></i>Let's Eat!
                </div>
                <div class="memo_name">${m.first_name}'s Event:</div>
                <div class="memo_title">${m.title}</div>
                <div class="memo_content">${m.memo}</div>
                <div class="memo_datetime">When: ${m.datetime}</div>
                <div class="memo_time_of_event">Time: ${m.time_of_event}</div>
                <div class="memo_area">Where: ${m.area}</div>
                <div class="memo_allergens">Allergen Info: ${m.allergens}</div>
            </div>
            <div>
               <!-- <div class="button_list">
                    <div class="buttons">
                        <i class="fa fa-users"></i>
                    </div>
                </div> -->
            </div>
        </div>
        <div v-if="has_more" class="show_more">
            <button class="btn btn-default rounded" v-on:click="get_more()">
                <i class="fa fa-ellipsis-h"></i> Load More
            </button>
        </div>

        <br/>

    {{pass}}
    </div>
</div>

<script src="{{=URL('static','js/default_index.js')}}"></script>
