{{extend 'default/sidebar.html'}}
    <link href="{{=URL('static','css/myapp.css')}}" rel="stylesheet" type="text/css"/>



<div class="main_content">

    <h1 class="ui center aligned icon header">
        <br/>
        <i class="circular camera icon"></i>
        Pictures of GrubMeet <br/>
    </h1>



    <div class="ui center aligned grid container">
        <div class="ui center fluid segment">
            <input type="file" (change)="fileEvent($event)" class="inputfile" id="embedpollfileinput" v-on:change="upload_file" />
            <label for="embedpollfileinput" class="ui blue right floated button">
            <i class="ui upload icon"></i>
                Upload image
            </label>
        </div>
    </div>





</div>



<script src="{{=URL('static','js/default_index.js')}}"></script>