{{extend 'dependencies.html'}}


<head>
    <link href="{{=URL('static','css/sidebar.css')}}" rel="stylesheet" type="text/css"/>
</head>

<div id="side-menu" class="ui pointing left fixed labeled icon vertical pointing menu">
    <div id="logo" class="item">
        GRUBMEET
    </div>
    <a class="item" href="{{=URL('default', 'user', args='logout')}}">
        <img class="ui circular image" src="https://image.flaticon.com/icons/svg/145/145867.svg"
             style="background: white;">
        <div style="padding-top: 10px;">Sign Out</div>
    </a>
    <a href="{{=URL('default', 'my_meals')}}" id="create_meal_tab" class="item">
        <i class="user outline icon"></i>
        My Meals
    </a>
    <a href="{{=URL('default', 'explore')}}" id="explore_tab" class="item">
        <i class="Search icon"></i>
        Explore
    </a>
    <a href="{{=URL('default', 'messages')}}" id="messages_tab" class="item">
        <i class="chat outline icon"></i>
        Meal Chat

    </a>
    <a href="{{=URL('default', 'calendar')}}" id="calendar_tab" class="item">
        <i class="calendar alternate outline icon"></i>
        Calendar</a>

    <a href="{{=URL('default', 'picture_gallery')}}" id="picture_tab" class="item">
        <i class="image outline icon"></i>
        Pictures

    </a>

    <a href="{{=URL('default', 'preferences')}}" id="preferences_tab" class="item">
        <i class="cogs icon"></i>
        Preferences
    </a>
</div>

<script src="{{=URL('static','js/default/sidebar.js')}}"></script>


<div id="content">{{include}}</div>
